<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}
    
    {% if site.title %}<title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}
</head>

<body>
    <div id="container">
        <div id="nav">
            <ul>
                <li><a href="{{ get_url() }}">Blog</a></li>
                <li><a href="{{ get_url('about/') }}">About</a></li>
                <li><a href="{{ get_url('archives/') }}">Archives</a></li>
                {% if site.feed %}<li><a href="{{ get_url('feed.xml') }}">Feed</a></li>{% endif %}
            </ul>
            
            {% if site.social.values()|sort(true)|first %}
                <ul id="social">
                    {% if site.social.dribbble %}<li><a href="http://dribbble.com/{{ site.social.dribbble }}"><img src="{{ get_asset('images/social/dribbble.png') }}" width="16" height="16" alt="Dribbble"></a></li>{% endif %}
                    {% if site.social.facebook %}<li><a href="https://www.facebook.com/{{ site.social.facebook }}"><img src="{{ get_asset('images/social/facebook.png') }}" width="16" height="16" alt="Facebook"></a></li>{% endif %}
                    {% if site.social.github %}<li><a href="https://github.com/{{ site.social.github }}"><img src="{{ get_asset('images/social/github.png') }}" width="16" height="16" alt="GitHub"></a></li>{% endif %}
                    {% if site.social.google_plus %}<li><a href="https://plus.google.com/{{ site.social.google_plus }}"><img src="{{ get_asset('images/social/google-plus.png') }}" width="16" height="16" alt="Google+"></a></li>{% endif %}
                    {% if site.social.lastfm %}<li><a href="http://www.last.fm/user/{{ site.social.lastfm }}"><img src="{{ get_asset('images/social/lastfm.png') }}" width="16" height="16" alt="Last.fm"></a></li>{% endif %}
                    {% if site.social.stack_overflow %}<li><a href="http://stackoverflow.com/users/{{ site.social.stack_overflow }}"><img src="{{ get_asset('images/social/stack-overflow.png') }}" width="16" height="16" alt="Stack Overflow"></a></li>{% endif %}
                    {% if site.social.steam %}<li><a href="http://steamcommunity.com/id/{{ site.social.steam }}"><img src="{{ get_asset('images/social/steam.png') }}" width="16" height="16" alt="Steam"></a></li>{% endif %}
                    {% if site.social.twitter %}<li><a href="https://twitter.com/#!/{{ site.social.twitter }}"><img src="{{ get_asset('images/social/twitter.png') }}" width="16" height="16" alt="Twitter"></a></li>{% endif %}
                </ul>
            {% endif %}
        </div>
        
        <div id="header">
            <h1><a href="{{ get_url() }}">{{ site.title }}</a></h1>
            {% if site.subtitle %}<h2>{{ site.subtitle }}</h2>{% endif %}
        </div>
        
        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            <p>Copyright &copy; {{ none|date('%Y') }} {{
                site.author }} <a rel="license"
                  href="http://creativecommons.org/licenses/by/3.0/us/deed.en_US"><img
                    alt="Creative Commons License" style="border-width:0"
                    src="http://i.creativecommons.org/l/by/3.0/us/80x15.png"/></a><br/>This
                <span xmlns:dct="http://purl.org/dc/terms/"
                      href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span>
                by <a xmlns:cc="http://creativecommons.org/ns#"
                      href="http://www.python.org/psf/"
                      property="cc:attributionName" rel="cc:attributionURL"
                        >{{ site.author }}</a> is licensed under a <a rel="license"
                                                                   href="http://creativecommons.org/licenses/by/3.0/us/deed.en_US">Creative
                    Commons Attribution 3.0 United States License</a>.<br/>Based
                on a work at <a xmlns:dct="http://purl.org/dc/terms/"
                                href="https://github.com/jnoller/psfoutreach/"
                                rel="dct:source">https://github.com/jnoller/psfoutreach/</a>.
            </p>
        </div>
    </div>
</body>
</html>
