{% extends 'layout.html' %}

{% block content %}
<h1>About Us</h1>

    <p>The <abbr title="Python Software Foundation">PSF</abbr>'s
    Outreach and Education project management committee identifies
    key initiatives, programs and subjects in this domain that the
    <abbr title="Python Software Foundation">PSF</abbr> can
    assist, fund or help guide. This committee will make recommendations to the
    membership, the board and its committees and act as a guiding hand for the
    <abbr title="Python Software Foundation's">PSF</abbr> in this domain.</p>

    <p>The mission of the Python Software Foundation is to promote, protect, and
    advance the Python programming language, and to support and facilitate the
    growth of a diverse and international community of Python programmers.</p>

{% endblock %}